 body
 {
 	margin: auto;
 	padding: auto;
 	width: 70%;
	height: 70%;
 	background-color: #DADADA;
 }
 .header
 {
 	
 	padding-bottom: 25px;
 }
.content
{
	padding-top: 5px;
	background-color: #f3f4f5;
	padding: 10px;
	margin: auto;
	padding: auto;
}
.content1
{
	background-color: red;;
}

button
{
	width: 370px;
	padding-right: 10px;
	background-color: #35BDB2;
	border: 1px;
	height: 40px;

}
input
{
	margin-top: 10px;
}
.us
{
	margin-top: 10px;
	background-color: #f8f8f9;
	height: 40px;
	text-align: center;
}
.capcha
{
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
